RewriteEngine On
RewriteBase /

# Если запрашиваемый путь не является существующим файлом или директорией
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



# Перенаправляем на api.php
#RewriteRule ^(.*)$ functions/api.php?$1 [QSA,L]
#RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ /functions/api.php?param1=$1&param2=$2&param3=$3 [L, QSA]
#RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ /functions/api.php?param1=$1&param2=$2&param3=$3 [QSA]

# Match four parameters
RewriteCond %{REQUEST_URI} !^/functions/api.php
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)$ /functions/api.php?param1=$1&param2=$2&param3=$3&param4=$4 [L,QSA]

# Match three parameters
RewriteCond %{REQUEST_URI} !^/functions/api.php
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ /functions/api.php?param1=$1&param2=$2&param3=$3 [L,QSA]

# Match two parameters
RewriteCond %{REQUEST_URI} !^/functions/api.php
RewriteRule ^([^/]+)/([^/]+)$ /functions/api.php?param1=$1&param2=$2 [L,QSA]

# Match one parameter
RewriteCond %{REQUEST_URI} !^/functions/api.php
RewriteRule ^([^/]+)$ /functions/api.php?param1=$1 [L,QSA]

